<div ng-controller="PostController as postController" ng-init="postController.init()" class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                Posts
            </div>
            <div class="col-xs-6 text-right">
                <button type="button" ng-if="isAddable()" ng-click="add()" ng-disabled="isAdding()" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-plus green" />
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div ng-repeat="post in posts | orderBy:'-id'">
            <div class="{{ isEditing(post) ? isConfirmable(post) ? 'panel panel-success' : 'panel panel-danger' : 'panel panel-info'}}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div ng-if="!isEditing(post)" class="custom-label">
                                {{ post.title }}
                            </div>
                            <div ng-if="isEditing(post)" class="{{ !isNewTitleValid(post) ? 'has-feedback has-error' : ''}}">
                                <input type="text" placeholder="Post title..." ng-model="post.newTitle" class="form-control custom-input" />
                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            {{ post.edited == 0 ? (post.created | date:"'Created: ' dd-MM-yyyy HH:mm 'GMT'": "GMT") : (post.edited | date:"'Edited: ' dd-MM-yyyy HH:mm 'GMT'": "GMT") }}
                            <button type="button" ng-if="isEditable(post)" ng-click="edit(post)" ng-disabled="isEditing(post)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-asterisk orange" />
                            </button>
                            <button type="button" ng-if="isDeletable(post)" ng-click="delete(post)" ng-disabled="isEditing(post)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-remove red" />
                            </button>

                            <button type="button" ng-if="isEditing(post)" ng-click="confirm(post)" ng-disabled="!isConfirmable(post)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-ok green" />
                            </button>
                            <button type="button" ng-if="isEditing(post)" ng-click="cancel(post)" ng-disabled="!isCancelable(post)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-remove red" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-if="!isEditing(post)" class="custom-label">
                        {{ post.body }}
                    </div>
                    <div ng-if="isEditing(post)" class="{{ !isNewBodyValid(post) ? 'has-feedback has-error' : ''}}">
                        <input type="text" placeholder="Post body..." ng-model="post.newBody" class="form-control custom-input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>