@font-face {

    font-family: "Symbola";
    src:url("//s3-eu-west-1.amazonaws.com/tw-font/symbola/symbola.eot");
    src:url("//s3-eu-west-1.amazonaws.com/tw-font/symbola/symbola.eot?#iefix") format("'embedded-opentype"),
    url("//s3-eu-west-1.amazonaws.com/tw-font/symbola/symbola.woff") format("woff"),
    url("//s3-eu-west-1.amazonaws.com/tw-font/symbola/symbola.ttf") format("truetype"),
    url("//s3-eu-west-1.amazonaws.com/tw-font/symbola/symbola.svg#FontAwesomeRegular") format("svg");
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.orange {

    /*color: orange;*/
    color: #ff9900;
}

.red {

    /*color: red;*/
    color: #cc0000;
}

.site-title {

    color: yellow !important;
    font-family: "Symbola";
    font-size: 96px;
    padding-top: 10px;
    padding-right: 0px;
    text-shadow:
        2px  2px 0 black,
       -1px -1px 0 black,
        1px -1px 0 black,
       -1px  1px 0 black,
        1px  1px 0 black;
}

.custom-label {

    padding-bottom: 1px;
    padding-left: 6px;
    padding-top: 1px;
}

.custom-input {

    height:22px;
    padding-left: 5px;
}